[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no
x509_extensions        = v3_ext

[ req_distinguished_name ]
C                      = PL
O                      = Fobnail
ST                     = State
CN                     = CA certificate

[v3_ext]
basicConstraints       = critical, @basic_constraints
subjectKeyIdentifier   = hash

[basic_constraints]
CA = true
pathlen = 0
